.Chat {
  height: 100vh;
  display: flex;
}
  
#chat-container {
    border: 1px solid #ccc;
    border-radius: 14px;
    overflow-y: scroll;
    padding: 5px;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: baseline;
    flex-grow: 1;
    overflow-y: auto;
    height: 100vh;
}
  
.message {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #45a049;
  border-radius: 10px;
  width: 33%;
}

.message-sent {
  align-self: flex-end;
}

.message-received {
  align-self: flex-start;
  background-color: #0089d8;
}
  
.msg-input {
  margin-top: 10px;
}
  
.input-field {
  width: 70%;
  padding: 5px;
  bottom: 0;
  align-items: end;
  border-radius: 10px;
  width: 90% ;
}
  
.send-button {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  bottom: 0;
  transition: 0.5s;
  width: 8%;
  min-width: 50px;
}
  
.send-button:hover {
  opacity: 0.7;
}

#chat-container::-webkit-scrollbar {
  width: 8px;
}
  
#chat-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}
  
#chat-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.channels-list::-webkit-scrollbar {
  width: 8px;
}

.channels-list::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.channels-list::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.selected {
  background-color: #555;
  font-weight: bold;
}


.channel:hover{
  background-color: #888;
  cursor: pointer;
}

.channels-list {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 14px;
  height: 300px;
  overflow-y: scroll;
  padding: 10px;
  float: left;
  position: relative;
  height: 100vh;

}

.create-channel-button {
  position: absolute;
  bottom: 0;
  border-radius: 10px;
}


.choose-channel-button:hover{
  cursor: pointer;
  background-color: #888;
}

#msg-container{
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#msg-container::-webkit-scrollbar {
    width: 8px;
}
  
#msg-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}
  
#msg-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.message-time{
  font-size: 12px;
}

.button-container {
  display: flex;
  justify-content: start;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5%;
}

.bar-button{
  border: none;
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
  width: 25%;
  background-repeat: no-repeat;
  background-size: contain;
  transition: transform 0.3s ease-in-out;
}

.bar-button:hover {
  transform: translateY(-15px);
}


@media (prefers-color-scheme: light) {
  .channel-button,
  .people-button,
  .new-button,
  .search-button {
    filter: invert(100%);
  }
}


.channel-button {
  background-image: url('../src/assets/channels.svg');
}
.people-button {
  background-image: url('../src/assets/user.svg');
}

.new-button {
  background-image: url('../src/assets/new_message.svg');
}

.search-button {
  background-image: url('../src/assets/search.svg');  
}


.back-button{
  background-image: url('../src/assets/back.svg');
  border: none;
  background-color: transparent;
  cursor: pointer; 
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.3s ease-in-out;
  width: 33%;
  height: 32px;
}

.searchcontainer {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: start;
  padding: 10px;
  background-color:transparent;
  bottom: 0;
  position: absolute;
}

.search-input-container {
  display: flex;
  align-items: left;
  width: 100%;
  justify-content: space-evenly;
}





